<h1>Angular Router Sample</h1>
<nav>
  <a class="button" routerLink="/crisis-list"
  RouterLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list"
  routerLinkActive="activebutton">Heroes</a> |
  <a class="button" routerLink="/chart-national"
  routerLinkActive="activebutton">National Graph</a> |
  <a class="button" routerLink="/chart-drugs"
  routerLinkActive="activebutton">Drugs Graph</a> |
  <a class="button" routerLink="/chart-temporal"
  routerLinkActive="activebutton">Temporal Graph</a> |
  <a class="button" routerLink="/chart-sites"
  routerLinkActive="activebutton">Sites Graph</a> |
  <a class="button" routerLink="/chart-state"
  routerLinkActive="activebutton">State Graph</a>
</nav>
<router-outlet></router-outlet>